.form {
  display: flex;
  align-items: center;

  .inputs-wrapper {

    .input-wrapper {
      margin: 5px 0;
      input {
        border: 1px solid;
        border-radius: 5px;
        padding: 5px 10px;
        outline: none;
      }
    }
  }
}
